@page "/documentstatuses/edit"
@using Microsoft.EntityFrameworkCore
@using DocCheck.Models
@inject IDbContextFactory<DocCheck.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>DocumentStatus</h2>
<hr />
@if (DocumentStatus is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="DocumentStatus" OnValidSubmit="UpdateDocumentStatus" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="DocumentStatus.Id" value="@DocumentStatus.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="DocumentStatus.Name" class="form-control" />
                    <ValidationMessage For="() => DocumentStatus.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="DocumentStatus.Description" class="form-control" />
                    <ValidationMessage For="() => DocumentStatus.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="isactive" class="form-label">IsActive:</label>
                    <InputCheckbox id="isactive" @bind-Value="DocumentStatus.IsActive" class="form-check-input" />
                    <ValidationMessage For="() => DocumentStatus.IsActive" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/documentstatuses">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    [SupplyParameterFromForm]
    private DocumentStatus? DocumentStatus { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        DocumentStatus ??= await context.DocumentStatuses.FirstOrDefaultAsync(m => m.Id == Id);

        if (DocumentStatus is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateDocumentStatus()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(DocumentStatus!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!DocumentStatusExists(DocumentStatus!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/documentstatuses");
    }

    private bool DocumentStatusExists(Guid id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.DocumentStatuses.Any(e => e.Id == id);
    }
}
