@page "/documentchecks/create"

@using DocCheck.Services
@using Microsoft.EntityFrameworkCore
@using DocCheck.Models
@using Models.OData

@inject DocCheckRepository Repository
@inject IDocCheckService Service
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h3>Создать Проблемный Документ</h3>
<hr />

<EditForm method="post" Model="DocumentCheck" OnValidSubmit="AddDocumentCheck" FormName="create" Enhance>
    <DataAnnotationsValidator />
    <ValidationSummary class="text-danger" role="alert" />
    <div class="row">
        <div class="col">
            <div class="input-group">
                <label for="status" class="input-group-text">Статус:</label>
                <InputSelect id="status" class="form-control" @bind-Value="DocumentCheck.Status">
                    <option value="">Выберите статус...</option>
                    @foreach (var item in Enum.GetValues<Status>())
                    {
                        <option value="@item">@(item.GetDescription())</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => DocumentCheck.Status" class="text-danger" />
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <label for="handler" class="input-group-text">Позиция:</label>
                <InputSelect id="handler" @bind-Value="DocumentCheck.Position" class="form-control">
                    <option value="">Выберите позицию...</option>
                    @foreach (var item in Enum.GetValues<Position>())
                    {
                        <option value="@item">@(item.GetDescription())</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => DocumentCheck.Position" class="text-danger" />
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <label for="userid" class="input-group-text">UserId:</label>
                <InputText id="userid" @bind-Value="DocumentCheck.UserId" class="form-control" />
                <ValidationMessage For="() => DocumentCheck.UserId" class="text-danger" />
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
                <div class="col">
                    <a href="/documentchecks">Back to List</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    @Document_СчетФактураВыданный.Name
                </div>
                <div class="col">
                    <div class="input-group">
                        <label for="documentnumber" class="input-group-text">№</label>
                        <InputText id="documentnumber" @bind-Value="DocumentCheck.InvoiceNumber" class="form-control" disabled="true" />
                        <ValidationMessage For="() => DocumentCheck.InvoiceNumber" class="text-danger" />
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <label for="documentdate" class="input-group-text">Дата</label>
                        <InputDate id="documentdate" @bind-Value="DocumentCheck.InvoiceDate" class="form-control" />
                        <ValidationMessage For="() => DocumentCheck.InvoiceDate" class="text-danger" />
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <label for="documentrefkey" class="input-group-text">RefKey</label>
                        <InputText id="documentrefkey" @bind-Value="DocumentCheck.InvoiceRefKey" class="form-control" />
                        <ValidationMessage For="() => DocumentCheck.InvoiceRefKey" class="text-danger" />
                    </div>
                </div>
            </div>            
        </div>
        <div class="card-body">
            <div class="mb-3">
            </div>
            <div class="mb-3">
            </div>
            <div class="mb-3">               
            </div>
        </div>
    </div>
</EditForm>

@code {
    [SupplyParameterFromQuery]
    public string? RefKey { get; set; }

    [SupplyParameterFromForm]
    private DocumentCheck DocumentCheck { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        DocumentCheck.InvoiceRefKey = RefKey;
        await Service.LoadBaseDocuments(DocumentCheck);
    }

    private async Task AddDocumentCheck()
    {
        await Repository.CreateAsync(DocumentCheck);

        NavigationManager.NavigateTo("/documentchecks");
    }
}
