@page "/documentchecks/create"
@using Microsoft.EntityFrameworkCore
@using DocCheck.Models
@inject IDbContextFactory<DocCheck.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>DocumentCheck</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="DocumentCheck" OnValidSubmit="AddDocumentCheck" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="mb-3">
                <label for="createdat" class="form-label">CreatedAt:</label>
                <InputDate id="createdat" @bind-Value="DocumentCheck.CreatedAt" class="form-control" />
                <ValidationMessage For="() => DocumentCheck.CreatedAt" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="updatedat" class="form-label">UpdatedAt:</label>
                <InputDate id="updatedat" @bind-Value="DocumentCheck.UpdatedAt" class="form-control" />
                <ValidationMessage For="() => DocumentCheck.UpdatedAt" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="status" class="form-label">Status:</label>
                <InputSelect id="status" @bind-Value="DocumentCheck.Status" class="form-control">
                    <option value="">
                        Выберите статус...
                    </option>
                    @foreach (var item in Enum.GetValues<DocumentStatus>())
                    {
                        <option value="@item">@(item.GetDescription())</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => DocumentCheck.Status" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="handler" class="form-label">Handler:</label>
                <InputSelect id="handler" @bind-Value="DocumentCheck.Handler" class="form-control">
                    <option value="">
                        Выберите обработчика...
                    </option>
                    @foreach (var item in Enum.GetValues<DocumentHandler>())
                    {
                        <option value="@item">@(item.GetDescription())</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => DocumentCheck.Handler" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="userid" class="form-label">UserId:</label>
                <InputText id="userid" @bind-Value="DocumentCheck.UserId" class="form-control" />
                <ValidationMessage For="() => DocumentCheck.UserId" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="documentrefkey" class="form-label">DocumentRefKey:</label>
                <InputText id="documentrefkey" @bind-Value="DocumentCheck.DocumentRefKey" class="form-control" />
                <ValidationMessage For="() => DocumentCheck.DocumentRefKey" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/documentchecks">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private DocumentCheck DocumentCheck { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddDocumentCheck()
    {
        using var context = DbFactory.CreateDbContext();
        context.DocumentCheck.Add(DocumentCheck);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/documentchecks");
    }
}
