@page "/documentchecks/create"

@using DocCheck.Services
@using Microsoft.EntityFrameworkCore
@using DocCheck.Models

@inject DocCheckRepository Repository
@inject IDocCheckService Service
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h3>Создать Проблемный Документ</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="DocumentCheck" OnValidSubmit="AddDocumentCheck" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />            
            <div class="mb-3">
                <label for="status" class="form-label">Статус:</label>
                <InputSelect id="status" @bind-Value="DocumentCheck.Status" class="form-control">
                    <option value="">
                        Выберите статус...
                    </option>
                    @foreach (var item in Enum.GetValues<Status>())
                    {
                        <option value="@item">@(item.GetDescription())</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => DocumentCheck.Status" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="handler" class="form-label">Позиция:</label>
                <InputSelect id="handler" @bind-Value="DocumentCheck.Position" class="form-control">
                    <option value="">
                        Выберите позицию...
                    </option>
                    @foreach (var item in Enum.GetValues<Position>())
                    {
                        <option value="@item">@(item.GetDescription())</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => DocumentCheck.Position" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="userid" class="form-label">UserId:</label>
                <InputText id="userid" @bind-Value="DocumentCheck.UserId" class="form-control" />
                <ValidationMessage For="() => DocumentCheck.UserId" class="text-danger" />
            </div>
            <div class="card">
                <div class="card-header">
                    <span>Счет-фактура</span>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="documentrefkey" class="form-label">RefKey:</label>
                        <InputText id="documentrefkey" @bind-Value="DocumentCheck.InvoiceRefKey" class="form-control" />Invoice
                        <ValidationMessage For="() => DocumentCheck.InvoiceRefKey" class="text-danger" />
Invoice
                    </div>
                    <div class="mb-3">
                        <label for="documentnumber" class="form-label">Number:</label>
                        <InputText id="documentnumber" @bind-Value="DocumentCheck.InvoiceNumber" class="form-control" />
                        <ValidationMessage For="() => DocumentCheck.InvoiceNumber" class="text-danger" />
                    </div>
                    <div class="mb-3">
                        <label for="documentdate" class="form-label">Date:</label>
                        <InputDate id="documentdate" @bind-Value="DocumentCheck.InvoiceDate" class="form-control" />
                        <ValidationMessage For="() => DocumentCheck.InvoiceDate" class="text-danger" />
                    </div>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary mt-3">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/documentchecks">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public string? RefKey { get; set; }

    [SupplyParameterFromForm]
    private DocumentCheck DocumentCheck { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        DocumentCheck.InvoiceRefKey = RefKey;
        await Service.LoadBaseDocuments(DocumentCheck);
    }

    private async Task AddDocumentCheck()
    {        
        await Repository.CreateAsync(DocumentCheck);

        NavigationManager.NavigateTo("/documentchecks");
    }
}
