@page "/documentchecks"

@using DocCheck.Common
@using DocCheck.Models
@using DocCheck.Services
@using Microsoft.AspNetCore.Components.QuickGrid

@inject DocCheckRepository Repository
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="documentchecks/create">Create New</a>
</p>

<ScanBarcode OnScannedBarcode="ScannedBarcodeHandle"></ScanBarcode>

<SearchForm SearchParams="SearchParams" OnSubmit="SearchDocumentCheck" />

<QuickGrid Class="table" ItemsProvider="itemsProvider" @ref="docCheckGrid">
    <PropertyColumn Title="Номер" Property="dc => dc.Number" />
    <PropertyColumn Title="Дата" Property="dc => dc.Date" />
    <PropertyColumn Title="Статус" Property="dc => dc.Status == null ? string.Empty : dc.Status.GetDescription()" />
    <PropertyColumn Title="Позиция" Property="dc => dc.Position == null ? string.Empty : dc.Position.GetDescription()" />
    <PropertyColumn Property="dc => dc.UserId" />
    <PropertyColumn Property="dc => dc.RefKey" />

    <TemplateColumn Context="documentcheck">
        <a href="@($"documentchecks/edit?id={documentcheck.Id}")">Edit</a> |
        <a href="@($"documentchecks/details?id={documentcheck.Id}")">Details</a> |
        <a href="@($"documentchecks/delete?id={documentcheck.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {    
    private SearchParams SearchParams { get; set; } = new();

    private QuickGrid<DocumentCheck>? docCheckGrid;

    GridItemsProvider<DocumentCheck>? itemsProvider;

    protected override void OnInitialized()
    {
        itemsProvider = ItemsProviderDelegate;
    }

    private async ValueTask<GridItemsProviderResult<DocumentCheck>> ItemsProviderDelegate(GridItemsProviderRequest<DocumentCheck> request)
    {
        SearchParams.Skip = request.StartIndex;
        SearchParams.Take = request.Count;

        var items = await Repository.GetItemsAsync(SearchParams);
        var totalItemsCount = await Repository.GetCountAsync(SearchParams);

        var result = GridItemsProviderResult.From(items, totalItemsCount);

        return result;
    }

    private async Task SearchDocumentCheck(SearchParams searchParams)
    {
        SearchParams = searchParams;

        if (docCheckGrid is not null)
            await docCheckGrid.RefreshDataAsync();
    }

    private async Task ScannedBarcodeHandle(string barcode)
    {
        var refKey = GuidConvert.FromNumStr(barcode);

        SearchParams = new() { RefKey = refKey };

        if (await Repository.ExistsAsync(refKey))
            NavigationManager?.NavigateTo($"documentchecks/details?RefKey={refKey}");
        else
            NavigationManager?.NavigateTo($"documentchecks/create?RefKey={refKey}");
    }
}
