@page "/documentchecks"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DocCheck.Models
@using DocCheck.Data
@implements IAsyncDisposable
@inject IDbContextFactory<DocCheck.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="documentchecks/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.DocumentCheck">
    <PropertyColumn Property="documentcheck => documentcheck.CreatedAt" />
    <PropertyColumn Property="documentcheck => documentcheck.UpdatedAt" />
    <PropertyColumn Title="Статус" Property="documentcheck => documentcheck.Status == null ? string.Empty : documentcheck.Status.GetDescription()" />
    <PropertyColumn Title="Обработчик" Property="documentcheck => documentcheck.Handler == null ? string.Empty : documentcheck.Handler.GetDescription()" />
    <PropertyColumn Property="documentcheck => documentcheck.UserId" />
    <PropertyColumn Property="documentcheck => documentcheck.DocumentRefKey" />

    <TemplateColumn Context="documentcheck">
        <a href="@($"documentchecks/edit?id={documentcheck.Id}")">Edit</a> |
        <a href="@($"documentchecks/details?id={documentcheck.Id}")">Details</a> |
        <a href="@($"documentchecks/delete?id={documentcheck.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
