@page "/documentchecks"

@using DocCheck.Common
@using DocCheck.Services
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DocCheck.Models
@using DocCheck.Data

@implements IAsyncDisposable

@inject IDbContextFactory<DocCheck.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="documentchecks/create">Create New</a>
</p>

<ScanBarcode OnScannedBarcode="ScannedBarcodeHandle"></ScanBarcode>

<EditForm Model="SearchParams" FormName="SearchDocumentCheck" OnSubmit="SearchDocumentCheck">
    <div class="row">
        <div class="col">
            <div class="input-group mb-2">
                <span class="input-group-text">№</span>
                <InputText class="form-control" @bind-Value="SearchParams.Number" placeholder="Номер документа..." />
            </div>
        </div>        
        <div class="col">
            <div class="input-group mb-2">
      Invoice          <span class="input-group-text">Дата с</span>
                <InputDate class="form-control" @bind-Value="SearchParams.DateFrom" />
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-2">
                <span class="input-group-text">Дата по</span>
                <InputDate class="form-control" @bind-Value="SearchParams.DateTo"/>
            </div>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Поиск</button>
        </div>
    </div>
</EditForm>

<QuickGrid Class="table" ItemsProvider="itemsProvider" @ref="documentCheckGrid">
    <PropertyColumn Property="documentcheck => documentcheck.CreatedAt" />
    <PropertyColumn Property="documentcheck => documentcheck.UpdatedAt" />
    <PropertyColumn Title="Статус" Property="documentcheck => documentcheck.Status == null ? string.Empty : documentcheck.Status.GetDescription()" />
    <PropertyColumn Title="Обработчик" Property="documentcheck => documentcheck.Position == null ? string.Empty : documentcheck.Position.GetDescription()" />
    <PropertyColumn Property="documentcheck => documentcheck.UserId" />
    <PropertyColumn Property="documentcheck => documentcheck.InvoiceRefKey" />

    <TemplateColumn Context="documentcheck">
        <a href="@($"documentchecks/edit?id={documentcheck.Id}")">Edit</a> |
        <a href="@($"documentchecks/details?id={documentcheck.Id}")">Details</a> |
        <a href="@($"documentchecks/delete?id={documentcheck.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    [SupplyParameterFromForm]
    private SearchParams SearchParams { get; set; } = new();

    private QuickGrid<DocumentCheck>? documentCheckGrid;

    private ApplicationDbContext context = default!;
    GridItemsProvider<DocumentCheck>? itemsProvider;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        itemsProvider = ItemsProviderDelegate;
    }

    private async ValueTask<GridItemsProviderResult<DocumentCheck>> ItemsProviderDelegate(GridItemsProviderRequest<DocumentCheck> request)
    {

        var query = context.DocumentCheck
            .AsNoTracking();

        if (SearchParams.RefKey is not null)
            query = query.Where(e => e.InvoiceRefKey == SearchParams.RefKey);

        if (SearchParams.Number is not null)
            query = query.Where(e => e.InvoiceNumber == SearchParams.Number);

        if (SearchParams.DateFrom is not null)
            query = query.Where(e => e.InvoiceDate.Date >= SearchParams.DateFrom);

        if (SearchParams.DateTo is not null)
            query = query.Where(e => e.InvoiceDate.Date < ((DateTime)SearchParams.DateTo).AddDays(1));

        query = query
            .Skip(request.StartIndex)
            .Take(request.Count ?? 100);

        var items = await query.ToArrayAsync();
        var count = await query.CountAsync();

        var result = GridItemsProviderResult.From(items, count);

        return result;
    }

    private void ScannedBarcodeHandle(string barcode)
    {
        var id = GuidConvert.FromNumStr(barcode);
        NavigationManager?.NavigateTo($"documentchecks/details?id={id}");
    }

    private async Task SearchDocumentCheck(EditContext args)
    {               
        if (documentCheckGrid is not null)
            await documentCheckGrid.RefreshDataAsync();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
