@page "/documentchecks"

@using DocCheck.Common
@using DocCheck.Models
@using DocCheck.Services
@using Microsoft.AspNetCore.Components.QuickGrid

@inject DocCheckRepository Repository
@inject NavigationManager NavigationManager

<PageTitle>Проблемные документы</PageTitle>

<h2>Проблемные документы</h2>

@* <p>
    <a href="documentchecks/create">Create New</a>
</p> *@

<ScanBarcode OnScannedBarcode="ScannedBarcodeHandle"></ScanBarcode>

<SearchForm SearchParams="searchParams" OnSubmit="SearchDocumentCheck" />

<QuickGrid Class="table table-hover table-striped" ItemsProvider="itemsProvider" OverscanCount=32 Virtualize="true" ItemKey="(x => x.Id)"
           @ref="docCheckGrid">
    <PropertyColumn Title="Номер" Property="dc => dc.InvoiceNumber" Sortable="true" InitialSortDirection="SortDirection.Descending" />
    <PropertyColumn Title="Дата" Property="dc => dc.InvoiceDate" Sortable="true" InitialSortDirection="SortDirection.Descending" IsDefaultSortColumn="true" />
    <PropertyColumn Property="dc => dc.InvoiceRefKey" />
    <PropertyColumn Title="Статус" Property="dc => dc.Status == null ? string.Empty : dc.Status.GetDescription()" />
    <PropertyColumn Title="Позиция" Property="dc => dc.Position == null ? string.Empty : dc.Position.GetDescription()" />
    <PropertyColumn Property="dc => dc.UserId" />

    <TemplateColumn Context="documentcheck">
        <a href="@($"documentchecks/edit?id={documentcheck.Id}")">Изменить</a> |
        @* <a href="@($"documentchecks/details?id={documentcheck.Id}")">Details</a> | *@
        <a href="@($"documentchecks/delete?id={documentcheck.Id}")">Удалить</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private SearchParams searchParams { get; set; } = new();

    private QuickGrid<DocumentCheck>? docCheckGrid;

    GridItemsProvider<DocumentCheck>? itemsProvider;

    protected override void OnInitialized()
    {
        itemsProvider = ItemsProviderDelegate;
    }

    private async ValueTask<GridItemsProviderResult<DocumentCheck>> ItemsProviderDelegate(GridItemsProviderRequest<DocumentCheck> request)
    {
        BuildSearchParams(request);

        var totalItemsCount = await Repository.GetCountAsync(searchParams);
        var items = request.Count is null ? [] : await Repository.GetItemsAsync(searchParams);

        var result = GridItemsProviderResult.From(items, totalItemsCount);

        return result;
    }

    private void BuildSearchParams(GridItemsProviderRequest<DocumentCheck> request)
    {
        var sortedProperty = request.GetSortByProperties().FirstOrDefault();
        searchParams.OrderBy = sortedProperty.PropertyName;
        searchParams.IsOrderAsc = sortedProperty.Direction == SortDirection.Ascending;
        searchParams.Skip = request.StartIndex;
        searchParams.Take = request.Count;
    }

    private async Task SearchDocumentCheck(SearchParams searchParams)
    {
        this.searchParams = searchParams;

        if (docCheckGrid is not null)
            await docCheckGrid.RefreshDataAsync();
    }

    private async Task ScannedBarcodeHandle(string barcode)
    {
        var refKey = GuidConvert.FromNumStr(barcode);

        searchParams = new() { RefKey = refKey };

        if (await Repository.ExistsAsync(refKey))
            NavigationManager?.NavigateTo($"documentchecks/edit?RefKey={refKey}");
        else
            NavigationManager?.NavigateTo($"documentchecks/create?RefKey={refKey}");
    }
}
