@using DocCheck.Data
@using DocCheck.Services

@inject AuthService AuthService

<EditForm Model="SearchParams" FormName="SearchForm" OnSubmit="Search">
    @if (SearchParams is not null)
    {
        <div class="row">
            <div class="col">
                <div class="input-group mb-2">
                    <span class="input-group-text">№</span>
                    <InputText class="form-control" @bind-Value="SearchParams.Number" placeholder="Номер документа..." />
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-2">
                    <span class="input-group-text">Дата с</span>
                    <InputDate class="form-control" @bind-Value="SearchParams.DateFrom" />
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-2">
                    <span class="input-group-text">Дата по</span>
                    <InputDate class="form-control" @bind-Value="SearchParams.DateTo" />
                </div>
            </div>
            <div class="col">
                @if (users != null)
                {
                    <InputSelect id="handler" @bind-Value="SearchParams.UserId" class="form-control">
                        <option value="">Пользователь...</option>
                        @foreach (var user in users)
                        {
                            <option value="@user.Id">@user.Name</option>
                        }
                    </InputSelect>
                }
            </div>
            <div class="col">
                <div class="form-check mt-2">
                    <InputCheckbox class="form-check-input" @bind-Value="SearchParams.IsShowClosed" id="isShowClosed" />
                    <label class="form-check-label" for="isShowClosed">Показать закрытые</label>
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Поиск</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" @onclick="Reset">Сбросить</button>
            </div>
        </div>
    }
</EditForm>

@code {
    [Parameter]
    public SearchParams? SearchParams { get; set; }

    [Parameter]
    public EventCallback<SearchParams> OnSubmit { get; set; }

    private List<ApplicationUser>? users;

    protected override void OnInitialized()
    {
        users = AuthService.GetUsers();
    }

    private async Task Search(EditContext args)
    {
        await OnSubmit.InvokeAsync(SearchParams);
    }

    private async Task Reset(MouseEventArgs args)
    {
        SearchParams = new();

        await OnSubmit.InvokeAsync(SearchParams);
    }
}