@using DocCheck.Common
@using DocCheck.Models
@using DocCheck.Services
@using Microsoft.AspNetCore.Components.QuickGrid

<EditForm Model="SearchParams" FormName="SearchForm" OnSubmit="Search">
    @if (SearchParams is not null)
    {
        <div class="row">
            <div class="col">
                <div class="input-group mb-2">
                    <span class="input-group-text">Ή</span>
                    <InputText class="form-control" @bind-Value="SearchParams.Number" placeholder="Νξμεπ ΣΟΔ..." />
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-2">
                    <span class="input-group-text">Δΰςΰ ρ</span>
                    <InputDate class="form-control" @bind-Value="SearchParams.DateFrom" />
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-2">
                    <span class="input-group-text">Δΰςΰ οξ</span>
                    <InputDate class="form-control" @bind-Value="SearchParams.DateTo" />
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Οξθρκ</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" @onclick="Reset">Ραπξρθςό</button>
            </div>
        </div>
    }
</EditForm>

@code {
    [Parameter]
    public SearchParams? SearchParams { get; set; }

    [Parameter]
    public EventCallback<SearchParams> OnSubmit { get; set; }


    private async Task Search(EditContext args)
    {
        await OnSubmit.InvokeAsync(SearchParams);
    }

    private async Task Reset(MouseEventArgs args)
    {
        SearchParams = new();

        await OnSubmit.InvokeAsync(SearchParams);
    }
}