@page "/saledocuments/details"

@using DocCheck.Models.OData
@using DocCheck.OData
@using DocCheck.Services

@inject ODataService DataSource

<h3>Реализация Товаров Услуг</h3>
@if (document is null)
{
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Загрузка...</span>
    </div>
}
else
{
    <dl class="row">
        <dt class="col-sm-2">Номер</dt>
        <dd class="col-sm-10">@document?.Number</dd>
        <dt class="col-sm-2">Дата</dt>
        <dd class="col-sm-10">@document?.Date</dd>
        <dt class="col-sm-2">Ref_Key</dt>
        <dd class="col-sm-10">@document?.Ref_Key</dd>
    </dl>
    if (products is not null)
    {
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Номенклатура</th>
                    <th>Количество</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in products)
                {
                    <tr>
                        <td>@product.Номенклатура?.Description</td>
                        <td>@product.Количество</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}


@code {
    [SupplyParameterFromQuery]
    public required string Ref_Key { get; set; }

    private Document_РеализацияТоваровУслуг? document;
    private Document_РеализацияТоваровУслуг_Товары[]? products;
    private SearchParams searchParams = new();
    private ODataParams oDataParams = Document_РеализацияТоваровУслуг.ODataParams;

    protected override async Task OnInitializedAsync()
    {
        searchParams.RefKey = Ref_Key;
        await GetDocumentAsync();

        await GetProducts();
    }

    private async Task GetDocumentAsync()
    {
        var rootobject = await DataSource.GetDataAsync<Document_РеализацияТоваровУслуг>(searchParams, Document_РеализацияТоваровУслуг.ODataParams);

        document = rootobject?.Value?.FirstOrDefault();
    }

    private async Task GetProducts()
    {
        var rootobject = await DataSource.GetDataAsync<Document_РеализацияТоваровУслуг_Товары>(searchParams, Document_РеализацияТоваровУслуг_Товары.ODataParams);

        products = rootobject?.Value;
    }
}
