@page "/documentrejections/edit"
@using Microsoft.EntityFrameworkCore
@using DocCheck.Models
@inject IDbContextFactory<DocCheck.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>DocumentRejection</h2>
<hr />
@if (DocumentRejection is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="DocumentRejection" OnValidSubmit="UpdateDocumentRejection" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="DocumentRejection.Id" value="@DocumentRejection.Id" />
                <div class="mb-3">
                    <label for="documentid" class="form-label">DocumentId:</label>
                    <InputGuid id="documentid" @bind-Value="DocumentRejection.DocumentId" class="form-control" />
                    <ValidationMessage For="() => DocumentRejection.DocumentId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="rejectedbyid" class="form-label">RejectedById:</label>
                    <InputText id="rejectedbyid" @bind-Value="DocumentRejection.RejectedById" class="form-control" />
                    <ValidationMessage For="() => DocumentRejection.RejectedById" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="rejectionreasonid" class="form-label">RejectionReasonId:</label>
                    <InputGuid id="rejectionreasonid" @bind-Value="DocumentRejection.RejectionReasonId" class="form-control" />
                    <ValidationMessage For="() => DocumentRejection.RejectionReasonId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="rejectedat" class="form-label">RejectedAt:</label>
                    <InputDate id="rejectedat" @bind-Value="DocumentRejection.RejectedAt" class="form-control" />
                    <ValidationMessage For="() => DocumentRejection.RejectedAt" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/documentrejections">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    [SupplyParameterFromForm]
    private DocumentRejection? DocumentRejection { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        DocumentRejection ??= await context.DocumentRejections.FirstOrDefaultAsync(m => m.Id == Id);

        if (DocumentRejection is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateDocumentRejection()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(DocumentRejection!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!DocumentRejectionExists(DocumentRejection!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/documentrejections");
    }

    private bool DocumentRejectionExists(Guid id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.DocumentRejections.Any(e => e.Id == id);
    }
}
