@page "/documentrejections"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DocCheck.Models
@using DocCheck.Data
@implements IAsyncDisposable
@inject IDbContextFactory<DocCheck.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="documentrejections/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.DocumentRejections">
    <PropertyColumn Property="documentrejection => documentrejection.DocumentId" />
    <PropertyColumn Property="documentrejection => documentrejection.RejectedById" />
    <PropertyColumn Property="documentrejection => documentrejection.RejectionReasonId" />
    <PropertyColumn Property="documentrejection => documentrejection.RejectedAt" />

    <TemplateColumn Context="documentrejection">
        <a href="@($"documentrejections/edit?id={documentrejection.Id}")">Edit</a> |
        <a href="@($"documentrejections/details?id={documentrejection.Id}")">Details</a> |
        <a href="@($"documentrejections/delete?id={documentrejection.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
