@page "/rejectionreasons/create"
@using Microsoft.EntityFrameworkCore
@using DocCheck.Models
@inject IDbContextFactory<DocCheck.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>RejectionReason</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="RejectionReason" OnValidSubmit="AddRejectionReason" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="RejectionReason.Name" class="form-control" /> 
                <ValidationMessage For="() => RejectionReason.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="RejectionReason.Description" class="form-control" /> 
                <ValidationMessage For="() => RejectionReason.Description" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="isactive" class="form-label">IsActive:</label> 
                <InputCheckbox id="isactive" @bind-Value="RejectionReason.IsActive" class="form-check-input" /> 
                <ValidationMessage For="() => RejectionReason.IsActive" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/rejectionreasons">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private RejectionReason RejectionReason { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddRejectionReason()
    {
        using var context = DbFactory.CreateDbContext();
        context.RejectionReasons.Add(RejectionReason);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/rejectionreasons");
    }
}
