@page "/rejectionreasons"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DocCheck.Models
@using DocCheck.Data
@implements IAsyncDisposable
@inject IDbContextFactory<DocCheck.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="rejectionreasons/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.RejectionReasons">
    <PropertyColumn Property="rejectionreason => rejectionreason.Name" />
    <PropertyColumn Property="rejectionreason => rejectionreason.Description" />
    <PropertyColumn Property="rejectionreason => rejectionreason.IsActive" />
    <PropertyColumn Property="rejectionreason => rejectionreason.Id" />

    <TemplateColumn Context="rejectionreason">
        <a href="@($"rejectionreasons/edit?id={rejectionreason.Id}")">Edit</a> |
        <a href="@($"rejectionreasons/details?id={rejectionreason.Id}")">Details</a> |
        <a href="@($"rejectionreasons/delete?id={rejectionreason.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
